.app-wrapper {
    display: grid;
    margin: 0 auto;
    width: 1200px;
    grid-template-areas:
            'h h'
            'n c';
    grid-template-columns: 2fr 10fr;
    grid-template-rows: 200px 1fr;
    /*grid-gap: 10px;*/
}






