.App-wrapper {
  margin: 0 auto;
  display: grid;
  width: 1200px;

  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;

  /*grid-gap: 10px;*/
}

.App-wrapper {

  grid-template-areas: "h h n c";

}

.header{
  grid-area: h;
  background-color: cadetblue;
}
.nav{
  grid-area: n;
  background-color: lawngreen;
}
.content{
  grid-area: c;
  background-color: goldenrod;
}