.front{

    width: 1200px;
    display: grid;
    grid-template-areas:
    "h n"
    "h c";
    grid-template-rows:  60px 1fr;
    grid-template-columns: 2fr 10fr;

}
.header {
    grid-area: h;
    background-color: #aa51ff;
}

.header img {
    width: 150px;
}
.nav {
    grid-area: n;
    background-color: burlywood;
    padding: 20px;
}








